#registrationForm {
    background-color: var(--primary-blue);
    max-width: 100%;
    padding: 0 1.5rem 1.5rem;
    border-radius: 0 0 3.5rem 3.5rem;
    color: white;
}

.registrationBtn {
    padding: 0.75rem;
    background-color: #FFF;
    border: none;
    border-radius: 0.5rem 0.5rem 3.5rem 3.5rem;
    width: 100%;
    color: var(--primary-blue) !important;
    transition: 0.1s all ease-in-out;
}

.registrationBtn:hover {
    transform: scale(1.025);
}

.customSelect {
    position: relative;
}

#accountTypeInput {
    z-index: 3;
}

.dropdownIcon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    z-index: 2;
}